
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $bgPage;
  font-family: FiraCodeRegular, sans-serif;
  color: $link-color;
}
p{
  margin: 0;
}
.container{
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.main-container{
  background: $container;
  position: relative;
  a{
    text-decoration: none;
    p{
      margin-left: 8px;
    }
  }
}
a{
  color: $link-color;
  text-decoration: none;
}
a:hover{
  color: $link-color;
}
.btn:hover{
  border: 1px solid $hashTagActive !important;
  background: rgba(153, 128, 81, 0.47) !important;
}
.btn{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid $hashTagActive !important;
}