nav{
  position: relative;
}
.navbar {
  padding: 0 0 0 0 !important;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;

}

.nav_padding {
  padding-top: 32px;
}

.header__link {
  font-family: FiraCodeMedium, sans-serif;
  font-size: 16px;
  display: flex;
  span {
    color: $hashTagDisable;
  }
.activeBurger{
  display: block;
}
  a {
    padding-left: 20px !important;
    padding-right: 0 !important;
    @include media($small){
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    color: $nav-link-color;
  }
}

.header__navigation {
  @include media(485px) {
    margin-top: 10px;
  }

}

.active {
  color: #FFF !important;

  span {
    color: $hashTagActive !important;
  }
}
.nav__component{
  align-items: center;
  @include media($small){
    justify-content: center !important;
  }
}
.main__navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main__logo{
  display: flex;
  align-items: center;
  @include media($medium){
    margin-left: 12px;
  }
}
 .main__icon-size{
   font-size: 24px;
   height: 24px;
 }
.networks{
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  &__icon{
    margin-top: 14px;
    font-size: 22px;
    height: 22px;
    color: $quoteColor;
  }
}
